PORT = 8000
MONGO_URL = mongodb+srv://SnehaBackend:sneha123@sneha.iuvh28a.mongodb.net
CORS_ORIGIN = *

ACCESS_TOKEN_SECRET=Sneha-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d