PORT = 8000
MONGO_URL = mongodb+srv://SnehaBackend:sneha123@sneha.iuvh28a.mongodb.net
CORS_ORIGIN = *

ACCESS_TOKEN_SECRET=Sneha-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME= dmqonkbka
CLOUDINARY_API_KEY= 764874385315338
CLOUDINARY_API_SECRET= 68AljZeS3Q26rC2vkIWsWUVZ7qI